.bloco{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    position: relative;
}

@media only screen and (max-width: 750px) {
  .bloco{
    margin-left: 0%;
    margin-right: 0%;
    padding: 10px;
  }

 }

.changeStats{
  width: 25%;
}

@media only screen and (max-width: 750px) {
  .changeStats{
    width: 25px !important;
    overflow-x: auto;
  }
  .tdChangable{
    width: 100%;
  }

}

.addStats{
  margin-left: 10px;
}

.tdChangable{
  width: 25%;
}

.cards{
  background-color: lightgray;
  padding: 10px 10px 0px 10px;
  margin: 10px;
  border-radius: 21px;
  input{
    max-width: 100%;
    width: auto;
  }
}

.botao-sem-vantagem{
  background-color: gray;
  color: black;
  border: none;
}

.botao-vantagem{
  background-color: darkgreen;
  color: white;
  border: none;
}

.botao-desvantagem{
  background-color: darkred;
  color: white;
  border: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  #addCharButton{
    text-align: center;
    padding: 10px;

    button{
      margin: 2px;
    }
  }

  #formAdd{
    padding: 10px;
  }