.bloco{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    position: relative;
}

@media only screen and (max-width: 750px) {
  .bloco{
    margin-left: 0%;
    margin-right: 0%;
    padding: 10px;
  }

 }

.changeStats{
  width: 25%;
}

@media only screen and (max-width: 750px) {
  .changeStats{
    width: 25px !important;
    overflow-x: auto;
  }
  .tdChangable{
    width: 100%;
  }

}

.addStats{
  margin-left: 10px;
}

.tdChangable{
  width: 25%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  #addCharButton{
    text-align: center;
    padding: 10px;
  }

  #formAdd{
    padding: 10px;
  }