.nav-custom-CD {
  background-color: #990033;
}

.nav-custom-TP {
  background-color: rgb(0, 25, 139);
}

.link-custom {
  color: white !important;
  padding: 0 25px !important;
  font-size: 150%;
  border-right: solid rgb(0, 0, 0, 0.5) 1px;
  text-align: center;
  cursor: pointer;
}

.link-custom:hover {
  text-shadow: 0px 0px 10px black, 0px 0px 20px black, 0px 0px 30px black;
}

.menu-modal-CD {
  background-color: darkred;
  button {
    color: black;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    height: 7rem;
    background-color: #b30000;
  }

  button:hover {
    background-color: red;
    border: 2px solid gray;
  }
}

.menu-modal-TP {
  background-color: rgb(0, 25, 139);
  button {
    color: white;
    height: 7rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(0, 25, 139);
  }

  button:hover {
    background-color: rgb(45, 65, 245);
    border: 2px solid gray;
  }
}

.modal-item {
  text-align: center;
}

.drop-btn {
  background-color: #990033;
  border: none;
  color: white;
  font-size: 150%;
}
