<nav class="navbar navbar-expand-lg navbar-light nav-custom">
    <img src="../../../assets/imgs/logoCorruptedDomain.png" height="30px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="openModal(tplMenu)" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li>
          <a class="nav-link link-custom" routerLink="">Inicio</a>
        </li>
        <li>
          <a class="nav-link link-custom" routerLink="missoes">Missões</a>
        </li>
        <li>
            <a class="nav-link link-custom" routerLink="npcs">NPCs</a>
        </li>
        <li>
            <a class="nav-link link-custom" routerLink="mapas">Mapas</a>
        </li>
        <li>
            <a class="nav-link link-custom" routerLink="sessoes">Sessões</a>
        </li>
        <li>
          <a class="nav-link link-custom" routerLink="lores">Lores</a>
        </li>
        <li>
          <a class="nav-link link-custom" routerLink="combate">Combate</a>
        </li>
      </ul>
    </div>
  </nav>

  <ng-template #tplMenu>
    <div class="menu-modal">
      <div class="modal-body">
        <div class="row">
          <div class="col-6 pr-2 mb-3 modal-item">
            <button type="button" class="list-group-item list-group-item-action" routerLink="" (click)="decline()">
              <i-bs name="house-door" width="1.5rem" height="1.5rem"></i-bs><br>
              INICIO
            </button>
          </div>
  
          <div class="col-6 pl-2 mb-3 modal-item">
            <button type="button" class="list-group-item list-group-item-action" routerLink="missoes" routerLinkActive="active" (click)="decline()">
              <i-bs name="clipboard-data" width="1.5rem" height="1.5rem"></i-bs><br>
              MISSOES
            </button>
          </div>
  
          <div class="col-6 pr-2 mb-3 modal-item">
            <button type="button" class="list-group-item list-group-item-action" routerLink="npcs" routerLinkActive="active" (click)="decline()">
              <i-bs name="person-square" width="1.5rem" height="1.5rem"></i-bs><br>
              NPCs
            </button>
          </div>
  
          <div class="col-6 pl-2 mb-3 modal-item">
            <button type="button" class="list-group-item list-group-item-action" routerLink="mapas" routerLinkActive="active" (click)="decline()">
              <i-bs name="map-fill" width="1.5rem" height="1.5rem"></i-bs><br>
              MAPAS
            </button>
          </div>
  
          <div class="col-6 pr-2 mb-3 modal-item">
            <button type="button" class="list-group-item list-group-item-action" routerLink="sessoes" (click)="decline()">
              <i-bs name="pen" width="1.5rem" height="1.5rem"></i-bs><br>
              SESSOES
            </button>
          </div>
  
          <div class="col-6 pl-2 mb-3 modal-item">
            <button type="button" class="list-group-item list-group-item-action" routerLink="combate" (click)="decline()">
              <i-bs name="hurricane" width="1.5rem" height="1.5rem"></i-bs><br>
              COMBATE
            </button>
          </div>
          <div class="col-6 pl-2 mb-3 modal-item">
            <button type="button" class="list-group-item list-group-item-action" routerLink="lores" (click)="decline()">
              <i-bs name="book" width="1.5rem" height="1.5rem"></i-bs><br>
              LORES
            </button>
          </div>
          <div class="col-6 pl-2 mb-3 modal-item">
            <button type="button" class="list-group-item list-group-item-action" (click)="decline()">
              <i-bs name="door-open" width="1.5rem" height="1.5rem"></i-bs><br>
              Fechar
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
