<nav class="navbar navbar-expand-lg navbar-light nav-custom">
    <a class="navbar-brand" style="padding-right: 50px !important;">Corrupted Dominion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li>
          <a class="nav-link link-custom" routerLink="">Inicio</a>
        </li>
        <li>
          <a class="nav-link link-custom" routerLink="missoes">Missões</a>
        </li>
        <li>
            <a class="nav-link link-custom" routerLink="npcs">NPCs</a>
        </li>
        <li>
            <a class="nav-link link-custom" routerLink="mapas">Mapas</a>
        </li>
        <li>
            <a class="nav-link link-custom" routerLink="sessoes">Sessões</a>
        </li>
      </ul>
    </div>
  </nav>
