<div class="row d-flex justify-content-center">
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Espada com runas de um certo elemento: 300po')">
            <div class="contentBx">
                <h3>Elemental Weapon</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/elementalWeapon.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Arma imbuida com magia: 300po')">
            <div class="contentBx">
                <h3>Magic Weapon</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/magicSword.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Bolsa que suporta mais carga do que aparenta: 200po')">
            <div class="contentBx">
                <h3>Bag of Holding</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/bagOfHolding.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Botas que não fazem barulho quando andam: 250po')">
            <div class="contentBx">
                <h3>Boots of ElvenKind</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/bootsOfElvenKind.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Botas feitas pra quem gosta de se aventurar em lugares frios: 200po')">
            <div class="contentBx">
                <h3>Boots of the winterlands</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/bootsOfTheWinterlands.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Braceletes que aumentam o foco do arqueiro: 350po')">
            <div class="contentBx">
                <h3>Bracers of archery</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/bracersOfArchery.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Broche que gera uma força repulsiva contra: 150po')">
            <div class="contentBx">
                <h3>Brooch of shielding</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/broochOfShielding.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Colar capaz de atirar um raio poderoso: 350po')">
            <div class="contentBx">
                <h3>Circlet of blasting</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/circletOfBlasting.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Capa capaz de se camuflar com o meio: 350po')">
            <div class="contentBx">
                <h3>Cloak of elvenkind</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/cloakOfElvenKind.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Esfera reluzente que ilumina o ambiente: 100po')">
            <div class="contentBx">
                <h3>Driftglobe</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/driftglobe.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Pó usado por ninjas pra ficarem invisiveis: 70po')">
            <div class="contentBx">
                <h3>Dust of disappearance</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/dustOfDisapearence.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Pó capaz de secar ambientes molhados: 40po')">
            <div class="contentBx">
                <h3>Dust of dryness</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/dustOfDryness.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Pó que causa irritação aos pulmões: 70po')">
            <div class="contentBx">
                <h3>Dust of sneezing and choking</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/dustOfSneazingAndChoking.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Óculos que te permitem enxergar além do normal: 200po')">
            <div class="contentBx">
                <h3>Eyes of the eagle</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/eyesOfTheEagle.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Tenha a força de um ogro: 500po')">
            <div class="contentBx">
                <h3>Gauntlets of ogre power</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/gauntletsOfOgrePower.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Luvas leves e não escorregadias: 400po')">
            <div class="contentBx">
                <h3>Gloves of Thievery</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/glovesOfThievery.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Com esse chapéu, seja quem você quiser ser: 400po')">
            <div class="contentBx">
                <h3>Hat of disguise</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/hatOfDisguise.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Tiara que te deixa mais inteligente: 500po')">
            <div class="contentBx">
                <h3>Headband of intellect</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/headbandOfIntellect.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Capacete que traduz automaticamente qualquer linguagem conhecida para a comum: 250po')">
            <div class="contentBx">
                <h3>Helm of comprehending languages</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/helmOfComprehendingLanguages.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Lamparina que além de iluminar ambientes escuros, também ilumina objetos ou criaturas invisiveis: 250po')">
            <div class="contentBx">
                <h3>Lantern of revealing</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/lanternOfRevealing.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Armadura que bóia, afogar não é mais uma preocupação: 200po')">
            <div class="contentBx">
                <h3>Mariner’s armor</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/marinersArmor.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Não importa onde estiver, você vai se sentir como se estivesse em casa: 200po')">
            <div class="contentBx">
                <h3>Necklace of adaptation</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/necklaceOfAdaptation.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Pérola capaz de reunir magia do arredor e armazenar dentro de si mesma: 350po')">
            <div class="contentBx">
                <h3>Pearl of power</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/pearlOfPower.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Seu corpo ficará imune a qualquer doença com um desses: 200po')">
            <div class="contentBx">
                <h3>Periapt of health</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/periaptOfHealth.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Duplicará a sua velocidade de regeneração natural: 500po')">
            <div class="contentBx">
                <h3>Periapt Of Wound Closure</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/periaptOfWoundClosure.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Por um tempo, você ficará tão forte quanto um gigante: 100po')">
            <div class="contentBx">
                <h3>Potion of giant strength(hill giant)</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/potionOfGiantStrenght.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Por um tempo, você ficará tão grande quanto um gigante: 80po')">
            <div class="contentBx">
                <h3>Potion of growth</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/potionOfGrowth.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Em momentos de desespero, essa cura pode salvar vidas: 20po')">
            <div class="contentBx">
                <h3>Potion of healing</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/potionOfHealing.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Se precisar curar um ferimento muito profundo, essa é a escolha certa 40po')">
            <div class="contentBx">
                <h3>Potion of greater healing</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/potionOfGreaterHealing.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Escudo imbuído com magia: 500po')">
            <div class="contentBx">
                <h3>Magic Shield</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items2/magicShield.png">
            </div>
        </div>
    </div>
</div>
