<div class="bloco">
    <div class="container">
        <h2>Capital Yevine</h2>
        <div class="row">
            <div class="col-md-8">
                <img class="map col-md-8" src="../../../assets/imgs/maps/capitalYevine.png">
            </div>
            <div class="col-md-4">
                <b>Pontos:</b><br>
                <div class="legenda">
                    <i-bs style="color: orange;" name="house-fill"></i-bs><span>Guilda dos aventureiros</span><br>
                <i-bs style="color: blue;" name="house-fill"></i-bs><span>Igreja de Lathander</span><br>
                <i-bs style="color: yellow;" name="house-fill"></i-bs><span>Pavilhão da forja mágica</span><br>
                <i-bs style="color: rgb(80, 200, 240);" name="house-fill"></i-bs><span>Mansão do Ibex </span><br>
                <i-bs style="color: purple;" name="house-fill"></i-bs><span>Posto de guarda</span><br>
                <i-bs style="color: red;" name="house-fill"></i-bs><span>Castelo do Duque</span><br>
                <i-bs style="color: pink;" name="house-fill"></i-bs><span>Biblioteca Palavras Celestiais</span><br>
                </div>
            </div>
        </div>
        <h2>Ducado Cithin</h2>
        <div>
            <img class="map" src="../../../assets/imgs/maps/ducadoCithin.png">
        </div>
    </div>
</div>