<div class="row d-flex justify-content-center">
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Uma armadura que te fornece resistencia a um elemento: 500po')">
            <div class="contentBx">
                <h3>Armor Of Resistence</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/armorOfResistence.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Uma armadura encantada que fornece mais proteção: 1000po')">
            <div class="contentBx">
                <h3>Enchanted Armor</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/enchantedArmor.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Um escudo feito para proteger aqueles que gostam de manter a distancia: 2000po')">
            <div class="contentBx">
                <h3>Arrow Catching Shield</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/arrowCatcingShield.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Um cinto que te faz ser tão forte quanto um gigante de pedra: 3000po')">
            <div class="contentBx">
                <h3>Belt Of Giant Strength(stone)</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/beltOfGiantStrength.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('A armadura perfeita para aqueles que não gostam de armadura: 2000po')">
            <div class="contentBx">
                <h3>Bracers of defense</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/bracersOfDefense.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Um manto feito para enganar seus inimigos: 3000po')">
            <div class="contentBx">
                <h3>Cloak of Displacement</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/cloakOfDisplacement.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Quem disse que pra ser um vampiro precisa ser um vampiro?: 3500po')">
            <div class="contentBx">
                <h3>Cloak of the bat</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/cloakOfTheBat.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Uma adaga com um veneno potente: 1500po')">
            <div class="contentBx">
                <h3>Dagger of Venom</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/daggerOfVenom.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Essa cota foi forjada usando técnicas elficas para aumentar ainda mais a proteção: 2000po')">
            <div class="contentBx">
                <h3>Elven Chain</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/elvenChain.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Não há nada que essa gema não consiga enxergar: 1500po')">
            <div class="contentBx">
                <h3>Gem of Seeing</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/gemOfSeeing.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Um berrante que faz um barulho tão alto que machuca: 2000po')">
            <div class="contentBx">
                <h3>Horn of Blasting</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/hornOfBlasting.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Uma ótima ferradura para se dar aos seus cavalos: 200po')">
            <div class="contentBx">
                <h3>Horse Shoes of Speed (4x)</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/horseshoesOfSpeed.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Dizem que esse item foi feito a pedido do Ibex: 2000po')">
            <div class="contentBx">
                <h3>Iron Bands of Binding</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/ironBandsOfBinding.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Arma perfeita para aqueles que combatem mortos vivos: 2500po')">
            <div class="contentBx">
                <h3>Mace of Disruption</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/MaceOfDisruption.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Arma perfeita para aqueles que gostam de quebrar as coisas: 2500po')">
            <div class="contentBx">
                <h3>Mace of Smithing</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/maceOfSmithing.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('O terror dos conjuradores: 3500po')">
            <div class="contentBx">
                <h3>Mantle Of Spell Resistence</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/mantleOfSpellResistence.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Veneno nunca mais será um problema: 1000po')">
            <div class="contentBx">
                <h3>Periapt of Proof Against Poison</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/periaptOfProofAgainstPoison.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Um anel capaz de guardar algumas magias: 4000po')">
            <div class="contentBx">
                <h3>Ring of Spell Storing</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/ringOfSpellStoring.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Uma poção que pode salvar a sua equipe: 50po')">
            <div class="contentBx">
                <h3>Potion of Heroism</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/potionOfHeroism.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Um anel que permite que você se comunique com os animais: 1000po')">
            <div class="contentBx">
                <h3>Ring of Animal Influence</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/ringOfAnimalInfluence.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Um anel que te deixa muito mais agil: 3000po')">
            <div class="contentBx">
                <h3>Ring of Evasion</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/ringOfEvasion.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Um anel que te protege: 3500po')">
            <div class="contentBx">
                <h3>Ring of Protection</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/ringOfProtection.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Um cajado que cura os outros: 3000po')">
            <div class="contentBx">
                <h3>Staff of Healing</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/staffOfHealing.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Um sabre de luz: 3500po')">
            <div class="contentBx">
                <h3>Sun Blade</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/sunBlade.png">
            </div>
        </div>
    </div>
    <div class="col-md-3 item">
        <div class="card" (click)="pop('Uma capa que se transforma em asas: 1000po')">
            <div class="contentBx">
                <h3>Wings of Flying</h3>
            </div>
            <div class="imgBx">
                <img src="../../../../assets/imgs/items3/wingsOfFlying.png">
            </div>
        </div>
    </div>
</div>
