<div class="bloco">
    <accordion [isAnimated]="true">
        <accordion-group>
            <div accordion-heading class="header"> Diário de Duncan</div>
            Eu nasci na Baía de Taergoria, um lugar lindo,
cheio de vida e onde minha alma para sempre pertencerá. Aos 12 anos, lendo um dos livros que eu roubei do meu pai, descobri ter aptidão para a magia, "um gênio", como diziam meus pais.
Aos 18 anos, meus pais resolveram me mandar pra Universidade do Amanhecer, onde eu consolidei minha formação mágica. Depois de 10 anos na universidade, me formei 
com honraria e me chamaram para servir no Forte Lagarto Escamado. Minha vida estagnou durante o tempo que eu passei lá.

(parágrafo ilegível)

 (ilegível)um grupo de Loxodontes cruzou a fronteira de Dragoatan com Graindi. Eu, como um outro Loxodonte, me senti cativado, nunca tinha visto outros como eu que não fossem
da minha familia. Esse grupo me contou de uma certa profecia de Ganesh: "Um dia, (ilegível). Eu fiquei horas conversando com eles, além disso, se a profecia fosse verdadeira, eu deveria fazer algo a respeito.
Com isso em mente e com o fato de achar minha vida improdutiva no forte, resolvi ir com o grupo.
Acompanhei eles até um lugar chamado "Vale do arrependimento". Um lugar nada bonito. Descobri que lá há um esconderijo de seguidores fiéis a Ganesh e que dedicam a sua vida à profecia.

(parágrafo ilegível)

O tempo no Vale do Arrependimento passou em um piscar de olhos, anos se tornaram décadas, e décadas se tornaram séculos. (ilegível) tentei o meu máximo,
eu e todos os outros, mas quanto mais tempo passava, mais a gente sentia que a profecia se aproximava, e nada podíamos fazer a respeito.

Sentindo que meu fim se aproximava, resolvi sair do vale do arrependimento, passar o resto da minha vida em um lugar confortável. (ilegível).

        </accordion-group>
        <accordion-group>
            <div accordion-heading class="header"> Dragon Slayers</div>
            Há mais de 2000 mil anos, na era Dracônica, o mundo era governado por dragões. Não era incomum um sombra enorme passar voando por uma cidade.
            Porém, esse também era um tempo de terror e morte. A era Dracônica é conhecida pela guerra entre os dragões metálicos e cromáticos que se alastrava por 
           todo o continente. Os dragões cromáticos acreditavam que eles deveriam dominar de forma soberana as outras espécies que são inferiores, ja os metálicos
           acreditavam que as outras espécies deviam viver de forma livre e independente dos dragões. Sempre que um dragão passava voando por uma cidade, todos temiam
           que ele começasse um combate com outro e a cidade embaixo deles fosse destruida. Porém, dragões são figuras dominadoras e potentes, 
           ninguém conseguia fazer nada contra essa situação. Essa guerra entre os dragões cromáticos e metálicos durou por décadas, e não parecia ter algum
           sinal de acabar. Um dia, um dragão verde de nome Hunkalzoor foi gravemente ferido e capturado pelos dragões metálicos. Durante anos em cativeiro, 
           ele foi sendo persuadido pelos dragões metálicos e sua visão da guerra foi mudando. Com o tempo, os dragões metálicos conseguiram converter Hunkalzoor
           para o lado deles, e ele deixou de ser um prisioneiro. Os dragões metálicos lutavam pelas outras espécies, eles se sentiam na obrigação de proteger
           as outras espécies pequenas e frágeis contra os grandes e poderosos dragões cromáticos, porém, Hunkalzoor tinha uma visão diferente, uma visão que nenhum
           outro dragão, seja cromático ou metálico tinha, e ele começou a planejar uma forma de vencer essa guerra "e se essas espécies não forem tão frágeis assim?".
           Ele se retirou da guerra e começou a recrutar, por todo o continente, humanoides. Ele começou a treiná-los e a ensiná-los sobre os pontos fracos e fortes dos
           dragões cromáticos, criando uma legião de guerreiros especializados em matar dragões cromáticos, os Dragonslayers. Depois de anos, Hunkalzoor retornou ao campo
           de batalha, mas dessa vez, seguido por um exército de dragonslayers que quebraram o equilibrio que a guerra sempre teve e a vitório ficou inclinada pro lado 
           dos dragões metálicos. E com isso, veio a vitória dos dragões metálicos.
        </accordion-group>
        
  </accordion>
</div>