<div class="bloco">
    <accordion [isAnimated]="true">
        <accordion-group>
            <div accordion-heading class="header"> Diário de Duncan</div>
            Eu nasci na Baía de Taergoria, um lugar lindo,
            cheio de vida e onde minha alma para sempre pertencerá. Aos 12 anos, lendo um dos livros que eu roubei do
            meu pai, descobri ter aptidão para a magia, "um gênio", como diziam meus pais.
            Aos 18 anos, meus pais resolveram me mandar pra Universidade do Amanhecer, onde eu consolidei minha formação
            mágica. Depois de 10 anos na universidade, me formei
            com honraria e me chamaram para servir no Forte Lagarto Escamado. Minha vida estagnou durante o tempo que eu
            passei lá.

            (parágrafo ilegível)

            (ilegível)um grupo de Loxodontes cruzou a fronteira de Dragoatan com Graindi. Eu, como um outro Loxodonte,
            me senti cativado, nunca tinha visto outros como eu que não fossem
            da minha familia. Esse grupo me contou de uma certa profecia de Ganesh: "Um dia, (ilegível). Eu fiquei horas
            conversando com eles, além disso, se a profecia fosse verdadeira, eu deveria fazer algo a respeito.
            Com isso em mente e com o fato de achar minha vida improdutiva no forte, resolvi ir com o grupo.
            Acompanhei eles até um lugar chamado "Vale do arrependimento". Um lugar nada bonito. Descobri que lá há um
            esconderijo de seguidores fiéis a Ganesh e que dedicam a sua vida à profecia.

            (parágrafo ilegível)

            O tempo no Vale do Arrependimento passou em um piscar de olhos, anos se tornaram décadas, e décadas se
            tornaram séculos. (ilegível) tentei o meu máximo,
            eu e todos os outros, mas quanto mais tempo passava, mais a gente sentia que a profecia se aproximava, e
            nada podíamos fazer a respeito.

            Sentindo que meu fim se aproximava, resolvi sair do vale do arrependimento, passar o resto da minha vida em
            um lugar confortável. (ilegível).

        </accordion-group>
        <accordion-group>
            <div accordion-heading class="header"> Dragon Slayers</div>
            Há mais de 2000 mil anos, na era Dracônica, o mundo era governado por dragões. Não era incomum um sombra
            enorme passar voando por uma cidade.
            Porém, esse também era um tempo de terror e morte. A era Dracônica é conhecida pela guerra entre os dragões
            metálicos e cromáticos que se alastrava por
            todo o continente. Os dragões cromáticos acreditavam que eles deveriam dominar de forma soberana as outras
            espécies que são inferiores, ja os metálicos
            acreditavam que as outras espécies deviam viver de forma livre e independente dos dragões. Sempre que um
            dragão passava voando por uma cidade, todos temiam
            que ele começasse um combate com outro e a cidade embaixo deles fosse destruida. Porém, dragões são figuras
            dominadoras e potentes,
            ninguém conseguia fazer nada contra essa situação. Essa guerra entre os dragões cromáticos e metálicos durou
            por décadas, e não parecia ter algum
            sinal de acabar. Um dia, um dragão verde de nome Hunkalzoor foi gravemente ferido e capturado pelos dragões
            metálicos. Durante anos em cativeiro,
            ele foi sendo persuadido pelos dragões metálicos e sua visão da guerra foi mudando. Com o tempo, os dragões
            metálicos conseguiram converter Hunkalzoor
            para o lado deles, e ele deixou de ser um prisioneiro. Os dragões metálicos lutavam pelas outras espécies,
            eles se sentiam na obrigação de proteger
            as outras espécies pequenas e frágeis contra os grandes e poderosos dragões cromáticos, porém, Hunkalzoor
            tinha uma visão diferente, uma visão que nenhum
            outro dragão, seja cromático ou metálico tinha, e ele começou a planejar uma forma de vencer essa guerra "e
            se essas espécies não forem tão frágeis assim?".
            Ele se retirou da guerra e começou a recrutar, por todo o continente, humanoides. Ele começou a treiná-los e
            a ensiná-los sobre os pontos fracos e fortes dos
            dragões cromáticos, criando uma legião de guerreiros especializados em matar dragões cromáticos, os
            Dragonslayers. Depois de anos, Hunkalzoor retornou ao campo
            de batalha, mas dessa vez, seguido por um exército de dragonslayers que quebraram o equilibrio que a guerra
            sempre teve e a vitório ficou inclinada pro lado
            dos dragões metálicos. E com isso, veio a vitória dos dragões metálicos.
        </accordion-group>

        <accordion-group>
            <div accordion-heading class="header"> Passos Divinos</div>
            Há uns 15 anos atrás, quando a Sophia nem era a secretaria da guilda dos aventureiros, ela testemunhou uma
            criança aparecendo na guilda dos aventureiros, ela exigia que fosse colocada imediatamente como aventureiro
            de Mithril.
            Claro que a guilda recusou tal pedido inédito, porém, o Púrpura do Oeste, que na época era o unico
            aventureiro de Adamantium que a guilda possuia, viu pontencial na criança e resolveu levar ela pra fazer
            uma missão de rank Mithril, que ela concluiu com êxito e a guilda teve que conceder a ela o ranque de
            Mithril. Poucos anos depois ela subiu ao ranque de Adamantium e fundou a Igreja de Lathander no ducado,
            que hoje tem grande influencia no ducado inteiro. De acordo com a Sophia, o Purpura do Oeste está sumido ha
            mais de uma década, e o Passos Divinos raramente da as caras no ducado,
            dizem que atualmente ele passa a maior parte do tempo no reino de Dragohatan.
        </accordion-group>

        <accordion-group>
            <div accordion-heading class="header"> Vexação Suprema</div>
            <p>Há milhares de anos, havia um Lorde Demônio que reinava soberano no Abismo, com sua arma,
                ele subjugava todos que se colocavam contra ele, por isso, nomeou sua arma de Vexação Suprema.</p>
            <p>Com o passar dos milênios, o número de almas que foram ceifados pela Vexação Suprema
                eram tantos que ela, em si, começou a adquirir uma alma própria. Um dia, em um momento de descuido, o
                Lorde Dêmonio foi morto
                pela sua própria arma, a Vexação Suprema.</p>
            <p>Depois de matar seu empunhador, a Vexação Suprema foi passada por várias mãos, dizem que todos aqueles
                que
                a empunhavam conseguiam, consequentemente, adquirir um poder tão poderoso quanto a de um Lorde Demônio.
                Por isso, a Vexação Suprema,
                uma "mera" arma, adquiriu o Título "Criadora de Lordes Demônios".</p>
        </accordion-group>
        <accordion-group>
            <div accordion-heading class="header"> Profecia de Ganesh</div>
            <p>Há muitos anos, antes mesmo do reino graindi existir, antes mesmo da era dracônica começar. Um certo
                lorde demônio empunhou uma arma.
                Uma arma super poderosa, capaz de destruir qualquer coisa.
                Esse tal Lorde Demônia resolveu, então usar essa arma para enfraquecer Ganesh. Ganesh vinha impedindo
                ele de entrar no plano material.
                Ele arremessou sua arma no plano material, mirando os seguidores de Ganesh. Seu plano era eliminar parte
                dos seguidores de Ganesh,
                diminuindo seu poder. Ganesh, por sua vez, arremesou seu escudo para o plano material, com o intuito de
                interceptar a arma desse lorde demônio.
                Uma arma capaz de destruir tudo, e um escudo indetrutivel. No encontro dos dois, o poder de ambos foi
                neutralizado e ambas cairam no plano material.
                O escudo de Ganesh se perdeu no plano material, mas esse lorde demônio também perdeu sua arma mais
                poderosa.
                Ganesh então resolveu deixar seu escudo nesse plano.
                A profecia diz que corruptores, tanto demônios quanto diabos, começarão a invadir o plano material.
                Quando isso acontecer, aparecerá aquele que ambiça pegar a
                arma de volta. Quando isso acontecer, ele confiará seu escudo para que os mortais possam se defender.
            </p>
        </accordion-group>
        <accordion-group>
            <div accordion-heading class="header">Memórias da Maya</div>
            <p>Maya é um avatar de Ganesh que ele criou quando percebeu que o plano material corria perigo.
                Ela é um avatar, mas ela tem raizes mortais, ela foi confiada a um dos sacerdotes de Ganesh.
                Ela foi colocada para guiar o futuro portador do escudo de Ganesh.</p>
        </accordion-group>
        <accordion-group>
            <div accordion-heading class="header">Plano de Gilrudig</div>
            <p>o antigo rei, Guimar Smotheus, cometeu suicidio subitamente. Como seu descendente
                ainda não tinha atingido a maturidade, o Duque Julius Cithin assumiu a coroa. O ducado Smotheus passou a
                ser governado pelo
                General Colinus, o lobo. Porém, Colinus nunca esteve favorável com o Julius Cithin assumindo a coroa.
                Primeiro porque
                a ascenção dele foi muito diferente, um rei cometeu suicidio. Segundo porque Colinus acha que Julius
                Cithin é um fraco
                e não será um bom rei. </p>
            <p>Durante aquele tempo, o reino ainda não estava sofrendo com a invasão de corruptores, mas o reino vizinho
                estava começando
                ja a ter problemas, mas só o general Colinus pareceu perceber que isso seria um problema futuro do
                reino. Depois que o reino
                de Dragohatan sucumbiu, o General Colinus preparou seu exército e ameaçou tomar a coroa à força, mas em
                tempos como esse, uma
                guerra civil é o que o reino menos precisa, então a montanha das águas cristalinas, que, assim como a
                universidade do amanhecer,
                sempre se manteve neutra, resolveu mostrar apoio ao ducado Cithin, emprestando seus aprendizes para
                servir como capitães dos postos
                de guarda. Essa subita parcialidade dos Dragonslayers acalmou o ducado Smotheus. Mas informantes tem
                reportado que o ducado
                tem passado por uma corrida armamentista, e o subito recuo deles na guerra contra o reino Elfico pareceu
                proposital, como se eles
                quisessem conservar forças, enquanto deixam todo o peso pro ducado Cithin se desgastar.</p>
        </accordion-group>

        <accordion-group>
            <div accordion-heading class="header">Laasyahniir</div>
            <p>Desde que o conceito de tempo existe, os diabos e os demônios
                vêm travando uma guerra entre si, essa guerra ja se alastrou por diversos planos diferentes, mas o plano
                material sempre
                se manteve fora dessa guerra. Porém, a guerra ja atingiu um nivel tão forte, que uma rachadura
                dimensional tinha começado a aparecer,
                essa rachadura ligava o plano material com o Abismo. </p>
            <p>A verdade, é que a guerra entre demonios e diabos acontecia em quase todos os planos
                externos negativos, mas o principal palco era o abismo, talvez pela caracteristica caótica daquele
                plano. Talvez o potente fluxo de magia
                do plano acabou vazando e criando uma rachadura ligando ao plano material, algo nunca antes visto na
                historia.
                Laasyhaniir era um Deus da guerra, mas isso não quer dizer que ele queria que a guerra invadisse o plano
                material, ele também é um deus bom.
                Ele saiu do plano que vivia e mergulhou de cabeça no abismo, seu objetivo era defender essa rachadura.
                Ele ficou guerreando de forma
                contínua, sem nenhum descanso, por mais de 50 anos, até que o ataque constante de infinitos corruptores,
                somado à presença aterradora do abismo
                que é de desgastar qualquer um, acabou, por finalmente, fazer Laasyahniir ceder. </p>
            <p>Para nós, clérigos de Laasyahniir, foi muito desesperador sentir a presença divina, que nos dava forças
                para levantar toda manhã,
                desaparecendo, até que, finalmente, todo o nosso poder se foi. Graças à conexão do Sumo Sacerdote, nós
                sabiamos o que estava acontecendo, e sabiamos
                que a luz da vida de Laasyahniir havia se apagado. Porém, quando vocês apareceram no nosso abrigo, eu
                senti parte dos meus poderes retornando, mesmo
                que apenas um pouco.</p>
        </accordion-group>

    </accordion>
</div>