<div class="bloco">
    <h1>Missões</h1>
    <h2>Ouro</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4 missao">
                <img class="mission" src="../../assets/imgs/fundoPrancheta.png">
                <div class="texto">
                    Bloqueado(lvl 7)
                </div>
            </div>
            <div class="col-md-4 missao">
                <img class="mission" src="../../assets/imgs/fundoPrancheta.png">
                <div class="texto">
                    Bloqueado(lvl 7)
                </div>
            </div>
            <div class="col-md-4 missao">
                <img class="mission" src="../../assets/imgs/fundoPrancheta.png">
                <div class="texto">
                    Bloqueado(lvl 7)
                </div>
            </div>
        </div>
    </div>
    <h2>Prata</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4 missao">
                <img class="mission" src="../../assets/imgs/fundoPrancheta.png">
                <div class="texto">
                    Bloqueado(lvl 3)
                </div>
            </div>
            <div class="col-md-4 missao">
                <img class="mission" src="../../assets/imgs/fundoPrancheta.png">
                <div class="texto">
                    Bloqueado(lvl 3)
                </div>
            </div>
            <div class="col-md-4 missao">
                <img class="mission" src="../../assets/imgs/fundoPrancheta.png">
                <div class="texto">
                    Bloqueado(lvl 3)
                </div>
            </div>
        </div>
    </div>
    <h2>Bronze</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4 missao">
                <img class="mission" src="../../assets/imgs/fundoPrancheta.png">
                <div class="texto">
                    Um animal feroz invaidiu a casa de um aldeão da vila Nale, matar o animal.

recompensa: 25po

                </div>
            </div>
            <div class="col-md-4 missao">
                <img class="mission" src="../../assets/imgs/fundoPrancheta.png">
                <div class="texto">
                    Servir de guarda costas pra um fazendeiro que volta da capital para a vila Bonio.
recompensa 15po.
                </div>
            </div>
            <div class="col-md-4 missao">
                <img class="mission" src="../../assets/imgs/fundoPrancheta.png">
                <div class="texto">
                    Criaturas horriveis têm aparecido na vila Nerton. Vão e investiguem.
Recompensa: 25po.

                </div>
            </div>
        </div>
    </div>
</div>

