.bloco{
    background-color: #ffcc66;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    position: relative;
    text-align: center;
}

.missao:hover{
    text-align: center;
    .texto{
        display: inline;
    }

}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-family: Cursive;
    width: 50%;
  }

.mission{
    height: 300px;
}