<div class="container">
    <div class="row">
        <div class="bloco col-md-12">
            <h1>Mural de missões</h1>
            <h2>Ouro</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 missao">
                        <img class="mission" src="../../assets/imgs/fundoPrancheta.png">
                        <div class="texto">
                            Bloqueado
                        </div>
                    </div>
                    <div class="col-md-4 missao">
                        <img class="mission" src="../../assets/imgs/fundoPrancheta.png">
                        <div class="texto">
                            Bloqueado
                        </div>
                    </div>
                    <div class="col-md-4 missao">
                        <img class="mission" src="../../assets/imgs/fundoPrancheta.png">
                        <div class="texto">
                            Bloqueado
                        </div>
                    </div>
                </div>
            </div>
            <h2>Prata</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 missao">
                        <img class="mission" src="../../assets/imgs/fundoPrancheta.png">
                        <div class="texto">
                            Eliminar criatura que tem causado terror na cidade Onisey.
                            Recompensa: 100po.
                        </div>
                    </div>
                    <div class="col-md-4 missao">
                        <img class="mission" src="../../assets/imgs/fundoPrancheta.png">
                        <div class="texto">
                            Caçar Bugbears que mataram um garoto perto da cidade Avrith.
                            Recompensa: 100po.
                        </div>
                    </div>
                    <div class="col-md-4 missao">
                        <img class="mission" src="../../assets/imgs/fundoPrancheta.png">
                        <div class="texto">
                           Acabar com uma gangue que tem assediado a população da cidade Arcsall.
                           Recompensa: 100po.
                        </div>
                    </div>
                </div>
            </div>
            <h2>Bronze</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 missao">
                        <img class="mission" src="../../assets/imgs/fundoPrancheta.png">
                        <div class="texto">
                            Um animal feroz invadiu a casa de um aldeão da vila Nale, lidar com o animal.

        recompensa: 25po

                        </div>
                    </div>
                    <div class="col-md-4 missao">
                        <img class="mission" src="../../assets/imgs/fundoPrancheta.png">
                        <div class="texto">
                            Um homem endividado acredita que seu cobrador irá intimidá-lo hoje e precisa de proteção.
recompensa 30po.
                        </div>
                    </div>
                    <div class="col-md-4 missao">
                        <img class="mission" src="../../assets/imgs/fundoPrancheta.png">
                        <div class="texto">
                            O chefe da vila Bonio encontrou um ninho de goblins e precisa de aventureiros para exterminá-los.

                            recompensa: 20po
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
        

