<div class="bloco">
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-md-4">
                <button [ngStyle]="{'box-shadow': (npcPriority == 1 ? '0 0 10px white' : 'none')}" class="botao" (click)="page(1)">Primarios</button>
            </div>
            <div class="col-md-4">
                <button [ngStyle]="{'box-shadow': (npcPriority == 2 ? '0 0 10px white' : 'none')}" class="botao" (click)="page(2)">Secundarios</button>
            </div>
            <div class="col-md-4">
                <button [ngStyle]="{'box-shadow': (npcPriority == 3 ? '0 0 10px white' : 'none')}" class="botao" (click)="page(3)">Aleatorios</button>
            </div>
        </div>
    </div>
    <primarios *ngIf="npcPriority == 1"></primarios>
    <secundarios *ngIf="npcPriority == 2"></secundarios>
    <aleatorios *ngIf="npcPriority == 3"></aleatorios>
</div>