<div class="bloco">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="card col-md-3">
                <img class="card-img-top" src="../../../assets/imgs/npcs/ForgeDemon.png" alt="Card image cap">
                <div class="card-body">
                    <h3>Demônio da forja</h3>
                  <p class="card-text">Ferreiro do pavilhão da forja magica, atualmente não é sabido o porquê de chamarem ele de demônio da forja</p>
                </div>
            </div>
            <div class="card col-md-3">
                <img class="card-img-top" src="../../../assets/imgs/npcs/Albert.png" alt="Card image cap">
                <div class="card-body">
                    <h3>Albert</h3>
                  <p class="card-text">Atendente do pavilhão da forja mágica, ajuda o demonio da forja com o que pode, mas não é ferreiro</p>
                </div>
            </div>
            <div class="card col-md-3">
                <img class="card-img-top" src="../../../assets/imgs/npcs/GerenteSophia.png" alt="Card image cap">
                <div class="card-body">
                    <h3>Sophia</h3>
                  <p class="card-text">Gerente da guilda dos aventureiros, ela que entrega as recompensas e é com ela que se deve falar se quiser subir de rank</p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="card col-md-3">
                <img class="card-img-top" src="../../../assets/imgs/npcs/Ibex.png" alt="Card image cap">
                <div class="card-body">
                    <h3>Wild Ibex</h3>
                  <p class="card-text">Aventurei de ouro "aposentado", agora ele vende todo tipo de item que pega em suas aventuras.
                      Também vende animais que ele captura, podem ser usados como montaria, mascotes ou animais de combate
                  </p>
                </div>
            </div>
            <div class="card col-md-3">
                <img class="card-img-top" src="../../../assets/imgs/npcs/emBreve.png" alt="Card image cap">
                <div class="card-body">
                    <h3>Em breve</h3>
                  <p class="card-text">Em breve...
                  </p>
                </div>
            </div>
            <div class="card col-md-3">
                <img class="card-img-top" src="../../../assets/imgs/npcs/emBreve.png" alt="Card image cap">
                <div class="card-body">
                    <h3>Em breve</h3>
                  <p class="card-text">Em breve...
                  </p>
                </div>
            </div>
        </div>
    </div>
</div>