.bloco{
    background-color: rgb(0,0,0,.5);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    position: relative;
}


.container{
    justify-content: center !important;
}

.card{
    background-color: #1a1a1a;
    color: white;
    margin: 10px;
}

@media only screen and (max-width: 750px) {
    .card {
        margin: 0;
    }

  }

.card-body{
    overflow:scroll;
}

.card-body::-webkit-scrollbar {
    width: 20px;
  }

  .card-body::-webkit-scrollbar-corner{
      background-color: #1a1a1a;
  }

.card-img-top{
    height: 50%;
}