<div class="bloco">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="card col-md-3">
                <img class="card-img-top" src="../../../assets/imgs/npcs/ForgeDemon.png" alt="Card image cap">
                <div class="card-body">
                    <h3>Demônio da forja</h3>
                  <p class="card-text">Ferreiro do pavilhão da forja magica, atualmente não é sabido o porquê de chamarem ele de demônio da forja</p>
                </div>
            </div>
            <div class="card col-md-3">
                <img class="card-img-top" src="../../../assets/imgs/npcs/Albert.png" alt="Card image cap">
                <div class="card-body">
                    <h3>Albert</h3>
                  <p class="card-text">Atendente do pavilhão da forja mágica, ajuda o demonio da forja com o que pode, mas não é ferreiro</p>
                </div>
            </div>
            <div class="card col-md-3">
                <img class="card-img-top" src="../../../assets/imgs/npcs/GerenteSophia.png" alt="Card image cap">
                <div class="card-body">
                    <h3>Sophia</h3>
                  <p class="card-text">Gerente da guilda dos aventureiros, ela que entrega as recompensas e é com ela que se deve falar se quiser subir de rank</p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="card col-md-3">
                <img class="card-img-top" src="../../../assets/imgs/npcs/Ibex.png" alt="Card image cap">
                <div class="card-body">
                    <h3>Wild Ibex</h3>
                  <p class="card-text">Aventureiro de ouro "aposentado", agora ele vende todo tipo de item que pega em suas aventuras.
                      Também vende animais que ele captura, podem ser usados como montaria, mascotes ou animais de combate
                  </p>
                </div>
            </div>
            <div class="card col-md-3">
                <img class="card-img-top" src="../../../assets/imgs/npcs/Henrich.png" alt="Card image cap">
                <div class="card-body">
                    <h3>Henrich Cithin</h3>
                  <p class="card-text">
                      Filho do Rei, o Henrich, conhecido entre os aventureiros como o "aventureiro de ferro", resolveu que queria virar aventureiro, com a autoridade e capital do seu pai, comprou o titulo de aventureiro de prata.
                  </p>
                </div>
            </div>
            <div class="card col-md-3">
                <img class="card-img-top" src="../../../assets/imgs/npcs/dragonSlayer.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3>Aprendiz de Dragon Slayer</h3>
                  <p class="card-text">
                      Os Dragon Slayers vêm da montanha das águas cristalinas, seus aprendizes são contratados pelo duque para ajudar na segurança do ducado. Os Dragon Slayers são a maior força do Reino Graindi.
                  </p>
                </div>
            </div>
            <div class="card col-md-3">
                <img class="card-img-top" src="../../../assets/imgs/npcs/Haley.png" alt="Card image cap">
                <div class="card-body">
                    <h3>Haley</h3>
                  <p class="card-text">
                      Filha do chefe da vila Adirie.
                  </p>
                </div>
            </div>
            <div class="card col-md-3">
                <img class="card-img-top" src="../../../assets/imgs/npcs/Rhogar.png" alt="Card image cap">
                <div class="card-body">
                    <h3>Rhogar</h3>
                  <p class="card-text">
                      Rhogar é um draconato com acestral de bronze. Passou a vida toda na montanha das águas cristalinas, cresceu treinando e estudando para se tornar um Dragon Slayer. Atualmente, ele é um aprendiz de Dragon Slayer e trabalha como capitão da guarda da capital Yevine. 
                  </p>
                </div>
            </div>
            <div class="card col-md-3">
                <img class="card-img-top" src="../../../assets/imgs/npcs/Elliot.png" alt="Card image cap">
                <div class="card-body">
                    <h3>Elliot</h3>
                  <p class="card-text">
                      Elliot é um garoto de 15 anos aspirante a aventureiro. Depois de ver seu grupo sendo exterminado por goblins, recobrou sua motivação quando escutou o discurso motivacional de Sid e agora aspira ser um clérigo aventureiro.
                  </p>
                </div>
            </div>
            <div class="card col-md-3">
                <img class="card-img-top" src="../../../assets/imgs/npcs/MaxineDaEspadaSagrada.png" alt="Card image cap">
                <div class="card-body">
                    <h3>Maxine</h3>
                  <p class="card-text">
                      Conhecido como "Maxine da Espada Sagrada", um aventureiro de ouro que promete que um dia seu nome estará ao lado do Púpura do Oeste e Passos Divinos na placa de aventureiros de Adamantium.
                  </p>
                </div>
            </div>
            <div class="card col-md-3">
                <img class="card-img-top" src="../../../assets/imgs/npcs/Zabarin.png" alt="Card image cap">
                <div class="card-body">
                    <h3>Zabarin</h3>
                  <p class="card-text">
                      Arch-Mago formado na Universidade do Amanhecer, trabalha atualmente em sua própria biblioteca na capital Yevine. Possui uma ótima memória pra se lembrar de assuntos arcanos, mas não muito pra qualquer outro assunto.
                  </p>
                </div>
            </div>
            <div class="card col-md-3">
                <img class="card-img-top" src="../../../assets/imgs/npcs/Maciota.png" alt="Card image cap">
                <div class="card-body">
                    <h3>Maciota</h3>
                  <p class="card-text">
                      Cafetão, traficante e, acima de tudo, informante. Maciota é o dono do "Paraíso do Maciota", na cidade de Arcsall, e alega vender qualquer tipo de informação pelo preço certo.
                  </p>
                </div>
            </div>
            <div class="card col-md-3">
                <img class="card-img-top" src="../../../assets/imgs/npcs/Jazi.png" alt="Card image cap">
                <div class="card-body">
                    <h3>Jazi</h3>
                  <p class="card-text">
                      Sacerdote chefe da igreja de Lathander da Capital Yevine. Ele oferece serviços tais como remover maldições ou comunicar com os mortos por um certo preço.
                  </p>
                </div>
            </div>
        </div>
    </div>
</div>