<div class="bloco">
    <ng-container *ngIf="campanha=='CD'">
        <h1>Corrupted Domain</h1>
        <p>Um grupo de aventureiros acaba de se inscrever na guilda, mas durante sua primeira missão eles acabam encontrando
            o resquício do sentido divino de um Deus. Por quê aquele Deus estava ali? O que aconteceu com ele? 
            O que será que os jogadores receberam como a benção divina dele?
            Link para o Roll20:
        </p>
        <div class="media position-relative anuncio">
            <img height="200px" src="../../assets/imgs/roll20.png" class="mr-3 anuncio-img" alt="...">
            <div class="media-body">
              <h5 class="mt-0">Roll20</h5>
              <p>Roll20 Corrupted Domain(não possui link ainda).
              </p>
              <a href="#" class="stretched-link"></a>
            </div>
        </div>
        <h3>Documentos Homebrew</h3>
        <ul class="listaDocumentos">
            <li>
                <a href="../../assets/documents/EssenciaDraconica.pdf" download>Essência Dracônica</a>
            </li>
            <li>
                <a href="../../assets/documents/MagiaDemoniaca.pdf" download>Magias Demoníacas</a>
            </li>
            <li>
                <a href="../../assets/documents/MascaraDeSram.pdf" download>Máscara de Sram</a>
            </li>
            <li>
                <a href="../../assets/documents/EscudoDeGanesh.pdf" download>Escudo De Ganesh</a>
            </li>
        </ul>
    </ng-container>
    <ng-container *ngIf="campanha!='CD'">
        <h1>Primordial</h1>
        <p>O Deus da Natureza Kodiak alerta os jogadores sobre uma possivel quebra da barreira que impede seres nos niveis de divindades de ocuparem os planos inferiores e agora o grupo de aventureiros deve descobrir uma forma de impedir que essa barreira se quebre
        </p>
        <div class="media position-relative anuncio">
            <img height="200px" src="../../assets/imgs/owlBear.png" class="mr-3 anuncio-img" alt="...">
            <div class="media-body">
              <h5 class="mt-0">OwlBear</h5>
              <p>Owl Bear Primordial. Grid de combate.
              </p>
              <a href="https://www.owlbear.rodeo/game/7ttVdMLDs" target="_blank" class="stretched-link"></a>
            </div>
        </div>
        <h3>Documentos Homebrew</h3>
        <ul class="listaDocumentos">
            <li>
                <a href="../../assets/documents/FabricacaoItensMagicos.pdf" download>Fabricação de Itens Mágicos</a>
            </li>
            <li>
                <a href="../../assets/documents/MagiasDraconicas.pdf" download>Magias Dracônicas</a>
            </li>
            <li>
                <a href="../../assets/documents/RanquesLinhagemDraconica.pdf" download>Ranques de Linhagem Dracônica</a>
            </li>
            <li>
                <a href="../../assets/documents/RunningAFaction.pdf" download>Criando uma Facção</a>
            </li>
            <li>
                <a href="../../assets/documents/TheNecromancer.pdf" download>O Necromante (classe nova)</a>
            </li>
        </ul>
    </ng-container>
    
</div>
