<div class="bloco">
    <div class="container">
        <h1>Catalogo de animais do Ibex</h1>
        <h2>Mascotes</h2>
        <div class="row d-flex justify-content-center">
            <div class="col-md-3">
                <div class="card" (click)="pop('Gato-10po')">
                    <div class="contentBx">
                        <h3>Gato</h3>
                    </div>
                    <div class="imgBx">
                        <img src="../../../assets/imgs/animais/gato.png">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" (click)="pop('Mastim-10po')">
                    <div class="contentBx">
                        <h3>Mastim</h3>
                    </div>
                    <div class="imgBx">
                        <img src="../../../assets/imgs/animais/mastim.png">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" (click)="pop('Fuinha-10po')">
                    <div class="contentBx">
                        <h3>Fuinha</h3>
                    </div>
                    <div class="imgBx">
                        <img src="../../../assets/imgs/animais/fuinha.png">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" (click)="pop('Falcao-10po')">
                    <div class="contentBx">
                        <h3>Falcao</h3>
                    </div>
                    <div class="imgBx">
                        <img src="../../../assets/imgs/animais/falcao.png">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" (click)="pop('Canario-10po')">
                    <div class="contentBx">
                        <h3>Canario</h3>
                    </div>
                    <div class="imgBx">
                        <img src="../../../assets/imgs/animais/canario.png">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" (click)="pop('Mico-10po')">
                    <div class="contentBx">
                        <h3>Mico</h3>
                    </div>
                    <div class="imgBx">
                        <img src="../../../assets/imgs/animais/mico.png">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" (click)="pop('Cabra-10po')">
                    <div class="contentBx">
                        <h3>Cabra</h3>
                    </div>
                    <div class="imgBx">
                        <img src="../../../assets/imgs/animais/cabra.png">
                    </div>
                </div>
            </div>
        </div>
        <h2>Montarias</h2>
        <div class="row d-flex justify-content-center">
            <div class="col-md-3">
                <div class="card" (click)="pop('Burro-50po')">
                    <div class="contentBx">
                        <h3>Burro</h3>
                    </div>
                    <div class="imgBx">
                        <img src="../../../assets/imgs/animais/burro.png">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" (click)="pop('Cavalo-150po')">
                    <div class="contentBx">
                        <h3>Cavalo</h3>
                    </div>
                    <div class="imgBx">
                        <img src="../../../assets/imgs/animais/cavalo.png">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" (click)="pop('Camelo-100po')">
                    <div class="contentBx">
                        <h3>Camelo</h3>
                    </div>
                    <div class="imgBx">
                        <img src="../../../assets/imgs/animais/camelo.png">
                    </div>
                </div>
            </div>
        </div>
        <h2>Combatentes</h2>
        <h3>ND 1/4</h3>
        <div class="row d-flex justify-content-center">
            <div class="col-md-3">
                <div class="card" (click)="pop('Texugo gigante-100po')">
                    <div class="contentBx">
                        <h3>Texugo Gigante</h3>
                    </div>
                    <div class="imgBx">
                        <img src="../../../assets/imgs/animais/texugo.png">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" (click)="pop('Pantera-100po')">
                    <div class="contentBx">
                        <h3>Panter</h3>
                    </div>
                    <div class="imgBx">
                        <img src="../../../assets/imgs/animais/pantera.png">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" (click)="pop('Lobo-100po')">
                    <div class="contentBx">
                        <h3>Lobo</h3>
                    </div>
                    <div class="imgBx">
                        <img src="../../../assets/imgs/animais/lobo.png">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" (click)="pop('Javali-100po')">
                    <div class="contentBx">
                        <h3>Javali</h3>
                    </div>
                    <div class="imgBx">
                        <img src="../../../assets/imgs/animais/javali.png">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" (click)="pop('Bico de machado-100po')">
                    <div class="contentBx">
                        <h3>Bico de machado</h3>
                    </div>
                    <div class="imgBx">
                        <img src="../../../assets/imgs/animais/bicoDeMachado.png">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" (click)="pop('Aranha lobo gigante-100po')">
                    <div class="contentBx">
                        <h3>Aranha lobo gigante</h3>
                    </div>
                    <div class="imgBx">
                        <img src="../../../assets/imgs/animais/aranha.png">
                    </div>
                </div>
            </div>
        </div>
        <h3>ND 1/2</h3>
        <div class="row d-flex justify-content-center">
            <div class="col-md-3">
                <div class="card" (click)="pop('Gorila-200po')">
                    <div class="contentBx">
                        <h3>Gorila</h3>
                    </div>
                    <div class="imgBx">
                        <img src="../../../assets/imgs/animais/gorila.png">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" (click)="pop('Cabra Gigante-200po')">
                    <div class="contentBx">
                        <h3>Cabra Gigante</h3>
                    </div>
                    <div class="imgBx">
                        <img src="../../../assets/imgs/animais/cabraGigante.png">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" (click)="pop('Crocodilo-100po')">
                    <div class="contentBx">
                        <h3>Crocodilo</h3>
                    </div>
                    <div class="imgBx">
                        <img src="../../../assets/imgs/animais/crocodilo.png">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" (click)="pop('Urso Negro-200po')">
                    <div class="contentBx">
                        <h3>Urso Negro</h3>
                    </div>
                    <div class="imgBx">
                        <img src="../../../assets/imgs/animais/ursoNegro.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
