.bloco{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    position: relative;
}

.link{
    color: lightseagreen;
    cursor: pointer;
}

textarea{
    width: 100%;
    min-height: 25vh;
}

@media only screen and (max-width: 750px){
    .bloco{
        margin: 10px 0;
    }

    .header{
        height: 10vh;
        font-size: 5vh;
    }
}