<div class="bloco">
    <accordion [isAnimated]="true">
        <accordion-group>
            <div accordion-heading> 1° sessão 25/04</div>
          Um novo grupo de aventureiros é formado, composto por um clerigo Sid, um paladino Jorgus, uma feiticeira Yulia e um bruxo Drezig. Eles conheceram a cidade, se armaram e foram salvar a lavoura da vila Bonio que vinha constantemente sendo atacada por 3 goblins. Após lidarem com os goblins, eles pegaram os fertilizantes que prometeram pro demonio da forja e começaram sua viagem de volta pra capital. Durante a viagem, eles foram enfeitiçados pelo resquicio do sentido divino de um Deus ja morto. Esse Deus explica pra eles que o mundo do jeito que eles conhecem está prestes a mudar e concede a eles um orbe divino que carrega uma benção dele, alegando que essa é a forma dele de continuar lutando, após isso o grupo de aventureiros cai desmaiado no chão.
        </accordion-group>
        <accordion-group >
            <div accordion-heading>2° sessão em breve</div>
            Em breve...
          </accordion-group>
          <accordion-group>
            <div accordion-heading>3° sessão em breve</div>
            Em breve...
          </accordion-group>
      </accordion>
</div>