<div class="row d-flex justify-content-center">
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/ForgeDemon.png" alt="Card image cap">
        <div class="card-body">
            <h3>Demônio da forja</h3>
            <p class="card-text">Ferreiro do pavilhão da forja magica, seu apelido vêm do selo de demônio que ele coloca
                nas armas/armaduras que ele considera uma obra-prima. Ele é o responsável pelos itens mágicos do
                pavilhão da forja mágica e parece ter uma certa autoridade dentro do reino, visto que ele não se dirige
                formalmente ao rei e o rei não parece se importar.</p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Maya.png" alt="Card image cap">
        <div class="card-body">
            <h3>Maya</h3>
            <p class="card-text">A protegida do Sid, uma garota de 3 anos que sonha em ser uma paladina</p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Ibex.png" alt="Card image cap">
        <div class="card-body">
            <h3>Wild Ibex</h3>
            <p class="card-text">Aventureiro de ouro "aposentado", agora ele vende todo tipo de item que pega em suas
                aventuras.
                Também vende animais que ele captura, podem ser usados como montaria, mascotes ou animais de combate
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/dragonSlayer.jpg" alt="Card image cap">
        <div class="card-body">
            <h3>Aprendiz de Dragon Slayer</h3>
            <p class="card-text">
                Os Dragon Slayers vêm da montanha das águas cristalinas, seus aprendizes são contratados pelo duque para
                ajudar na segurança do ducado. Os Dragon Slayers são a maior força do Reino Graindi.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Rhogar.png" alt="Card image cap">
        <div class="card-body">
            <h3>Rhogar</h3>
            <p class="card-text">
                Rhogar é um draconato com acestral de bronze. Passou a vida toda na montanha das águas cristalinas,
                cresceu treinando e estudando para se tornar um Dragon Slayer. Atualmente, ele é um aprendiz de Dragon
                Slayer e trabalha como capitão da guarda da capital Yevine.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Zabarin.png" alt="Card image cap">
        <div class="card-body">
            <h3>Zabarin</h3>
            <p class="card-text">
                Arch-Mago formado na Universidade do Amanhecer, trabalha atualmente em sua própria biblioteca na capital
                Yevine. Possui uma ótima memória pra se lembrar de assuntos arcanos, mas não muito pra qualquer outro
                assunto.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Jazi.png" alt="Card image cap">
        <div class="card-body">
            <h3>Jazi</h3>
            <p class="card-text">
                Sacerdote chefe da igreja de Lathander da Capital Yevine. Ele oferece serviços tais como remover
                maldições ou comunicar com os mortos por um certo preço.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Gilrudig.png" alt="Card image cap">
        <div class="card-body">
            <h3>Gilrudig</h3>
            <p class="card-text">
                Ele é um meio-dragão, lider dos Dragonslayers e filho direto de Kemrumhaar.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Kemrumhaar.png" alt="Card image cap">
        <div class="card-body">
            <h3>Kemrumhaar</h3>
            <p class="card-text">
                Dragão ancião de bronze. Ele é chamado de patriarca pelos Dragonslayers, já que foi ele que guiou essa organização depois que a guerra da era dracônica acabou ha milhares de anos.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/PúrpuraDoOeste.jpg" alt="Card image cap">
        <div class="card-body">
            <h3>Púrpura do Oeste</h3>
            <p class="card-text">
                O primeiro aventureiro de Adamantium que surgiu no reino. Seu paradeiro ficou desconhecido por mais de uma década, acreditava-se que ele poderia até ter morrido. No final, depois de todo esse tempo, o Púrpura do Oeste era o Demônio da Forja.
            </p>
        </div>
    </div>
</div>