<div class="row d-flex justify-content-center">
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Fulk.png" alt="Card image cap">
        <div class="card-body">
            <h3>Fulk</h3>
            <p class="card-text">
                Um dos melhores caçadores de Avrith. Ajudou o grupo com a caça dos Bugbears.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Thresiu.png" alt="Card image cap">
        <div class="card-body">
            <h3>Thresiu</h3>
            <p class="card-text">
                Um Aprendiz de Dragon Slayer e filho de um dos Dragon Slayers mais influentes da Montanha das Águas
                Cristalinas
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Balbo.png" alt="Card image cap">
        <div class="card-body">
            <h3>Balbo</h3>
            <p class="card-text">
                Um discipulo dos Dragon Slayers
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Gobpo.png" alt="Card image cap">
        <div class="card-body">
            <h3>Gobpo</h3>
            <p class="card-text">
                Um goblinoide criança que está procurando seu pai.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Endall.jpg" alt="Card image cap">
        <div class="card-body">
            <h3>Endall</h3>
            <p class="card-text">
                Um aventureiro de prata que o grupo encontrou num bar de um dos vilarejos da região esverdejante.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Fantasma.png" alt="Card image cap">
        <div class="card-body">
            <h3>???</h3>
            <p class="card-text">
                Uma aventureira de platina que o grupo encontrou na saida do esconderijo dos escravajistas na região esverdejante.
            </p>
        </div>
    </div>
</div>