<div class="row d-flex justify-content-center">
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Haley.png" alt="Card image cap">
        <div class="card-body">
            <h3>Haley</h3>
            <p class="card-text">
                Filha do chefe da vila Adirie. Depois de ver o grupo em ação, resolveu virar uma aventureira, unido-se
                ao grupo do Elliot.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Elliot.png" alt="Card image cap">
        <div class="card-body">
            <h3>Elliot</h3>
            <p class="card-text">
                Elliot é um garoto de 15 anos aspirante a aventureiro. Depois de ver seu grupo sendo exterminado por
                goblins, recobrou sua motivação quando escutou o discurso motivacional de Sid e agora aspira é um
                clérigo aventureiro.
            </p>
        </div>
    </div>

    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Fulk.png" alt="Card image cap">
        <div class="card-body">
            <h3>Fulk</h3>
            <p class="card-text">
                Um dos melhores caçadores de Avrith. Ajudou o grupo com a caça dos Bugbears.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Thresiu.png" alt="Card image cap">
        <div class="card-body">
            <h3>Thresiu</h3>
            <p class="card-text">
                Era um aprendiz de Dragonslayer, mas se envolveu em uma esquema criminoso com seu pai e foi morto pelo
                grupo de aventureiros.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Balbo.png" alt="Card image cap">
        <div class="card-body">
            <h3>Balbo</h3>
            <p class="card-text">
                Um discipulo dos Dragon Slayers
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Gobpo.png" alt="Card image cap">
        <div class="card-body">
            <h3>Gobpo</h3>
            <p class="card-text">
                Um goblinoide criança que está procurando seu pai.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Endall.jpg" alt="Card image cap">
        <div class="card-body">
            <h3>Endall</h3>
            <p class="card-text">
                Um aventureiro de prata que o grupo encontrou num bar de um dos vilarejos da região esverdejante.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Fantasma.png" alt="Card image cap">
        <div class="card-body">
            <h3>Fantasma</h3>
            <p class="card-text">
                Uma aventureira de platina que o grupo encontrou na saida do esconderijo dos escravajistas na região
                esverdejante. Ela também foi a causa do duelo entro Celtru e Maxine.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Celtru.png" alt="Card image cap">
        <div class="card-body">
            <h3>Celtru</h3>
            <p class="card-text">
                Um aventureiro de ouro que chamou muita atenção por derrotar publicamente o Maxine, da espada sagrada em
                um duelo. Ele também faz parte do grupo de uma aventureira de platina.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Giewk.png" alt="Card image cap">
        <div class="card-body">
            <h3>Giewk</h3>
            <p class="card-text">
                Um Aarakocra que ajudou os aventureiros a domesticar um Hipogrifo devido ao favor que ele devia ao Ibex.
            </p>
        </div>
    </div>
</div>