<div class="row d-flex justify-content-center">
    <ng-container *ngIf="campanha == 'CD'">
        <div class="card col-md-3">
            <img class="card-img-top" src="../../../../assets/imgs/npcs/Haley.png" alt="Card image cap">
            <div class="card-body">
                <h3>Haley</h3>
                <p class="card-text">
                    Filha do chefe da vila Adirie. Depois de ver o grupo em ação, resolveu virar uma aventureira, unido-se
                    ao grupo do Elliot.
                </p>
            </div>
        </div>
        <div class="card col-md-3">
            <img class="card-img-top" src="../../../../assets/imgs/npcs/Elliot.png" alt="Card image cap">
            <div class="card-body">
                <h3>Elliot</h3>
                <p class="card-text">
                    Elliot é um garoto de 15 anos aspirante a aventureiro. Depois de ver seu grupo sendo exterminado por
                    goblins, recobrou sua motivação quando escutou o discurso motivacional de Sid e agora aspira é um
                    clérigo aventureiro.
                </p>
            </div>
        </div>
    
        <div class="card col-md-3">
            <img class="card-img-top" src="../../../../assets/imgs/npcs/Fulk.png" alt="Card image cap">
            <div class="card-body">
                <h3>Fulk</h3>
                <p class="card-text">
                    Um dos melhores caçadores de Avrith. Ajudou o grupo com a caça dos Bugbears.
                </p>
            </div>
        </div>
        <div class="card col-md-3">
            <img class="card-img-top" src="../../../../assets/imgs/npcs/Thresiu.png" alt="Card image cap">
            <div class="card-body">
                <h3>Thresiu</h3>
                <p class="card-text">
                    Era um aprendiz de Dragonslayer, mas se envolveu em uma esquema criminoso com seu pai e foi morto pelo
                    grupo de aventureiros.
                </p>
            </div>
        </div>
        <div class="card col-md-3">
            <img class="card-img-top" src="../../../../assets/imgs/npcs/Balbo.png" alt="Card image cap">
            <div class="card-body">
                <h3>Balbo</h3>
                <p class="card-text">
                    Um discipulo dos Dragon Slayers
                </p>
            </div>
        </div>
        <div class="card col-md-3">
            <img class="card-img-top" src="../../../../assets/imgs/npcs/Gobpo.png" alt="Card image cap">
            <div class="card-body">
                <h3>Gobpo</h3>
                <p class="card-text">
                    Um goblinoide criança que está procurando seu pai.
                </p>
            </div>
        </div>
        <div class="card col-md-3">
            <img class="card-img-top" src="../../../../assets/imgs/npcs/Endall.jpg" alt="Card image cap">
            <div class="card-body">
                <h3>Endall</h3>
                <p class="card-text">
                    Um aventureiro de prata que o grupo encontrou num bar de um dos vilarejos da região esverdejante.
                </p>
            </div>
        </div>
        <div class="card col-md-3">
            <img class="card-img-top" src="../../../../assets/imgs/npcs/Fantasma.png" alt="Card image cap">
            <div class="card-body">
                <h3>Fantasma</h3>
                <p class="card-text">
                    Uma aventureira de platina que o grupo encontrou na saida do esconderijo dos escravajistas na região
                    esverdejante. Ela também foi a causa do duelo entro Celtru e Maxine.
                </p>
            </div>
        </div>
        <div class="card col-md-3">
            <img class="card-img-top" src="../../../../assets/imgs/npcs/Celtru.png" alt="Card image cap">
            <div class="card-body">
                <h3>Celtru</h3>
                <p class="card-text">
                    Um aventureiro de ouro que chamou muita atenção por derrotar publicamente o Maxine, da espada sagrada em
                    um duelo. Ele também faz parte do grupo de uma aventureira de platina.
                </p>
            </div>
        </div>
        <div class="card col-md-3">
            <img class="card-img-top" src="../../../../assets/imgs/npcs/Giewk.png" alt="Card image cap">
            <div class="card-body">
                <h3>Giewk</h3>
                <p class="card-text">
                    Um Aarakocra que ajudou os aventureiros a domesticar um Hipogrifo devido ao favor que ele devia ao Ibex.
                </p>
            </div>
        </div>
        <div class="card col-md-3">
            <img class="card-img-top" src="../../../../assets/imgs/npcs/Totaru.jpg" alt="Card image cap">
            <div class="card-body">
                <h3>Totaru</h3>
                <p class="card-text">
                    Totaru, parece ser um viajante, mas ele é de uma raça desconhecida, além disso, ele parece vir de bem longe, de um lugar desconhecido.
                </p>
            </div>
        </div>
    
        <div class="card col-md-3">
            <img class="card-img-top" src="../../../../assets/imgs/npcs/Olmthu.png" alt="Card image cap">
            <div class="card-body">
                <h3>Olmthu</h3>
                <p class="card-text">
                    Uma tartaruga dragão anciã que parecer ter uma sabedoria colossal. Passa a maior parte do seu tempo dormindo no deserto infinito e cobra um preço caro por suas respostas.
                </p>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="campanha != 'CD'">
        <div class="card col-md-3">
            <img class="card-img-top" src="../../../../assets/imgs/npcs/Infitaru.jpg" alt="Card image cap">
            <div class="card-body">
                <h3>Infitaru</h3>
                <p class="card-text">
                    Rei da corte da Primavera.
                </p>
            </div>
        </div>
        <div class="card col-md-3">
            <img class="card-img-top" src="../../../../assets/imgs/npcs/Ol.png" alt="Card image cap">
            <div class="card-body">
                <h3>Ól</h3>
                <p class="card-text">
                    Ancião da tribo do Metal Divino, se voluntariou a ser o guia do grupo depois de aprender algumas magias com Jieshi.
                </p>
            </div>
        </div>
        <div class="card col-md-3">
            <img class="card-img-top" src="../../../../assets/imgs/npcs/indominusRex.jpg" alt="Card image cap">
            <div class="card-body">
                <h3>Indominus Rex</h3>
                <p class="card-text">
                    Um Dinossauro enorme, cuja existência coloca medo até no T-Rex. Devido ao ato de misericórdia do grupo, ele prometeu que se um dia precisarem de qualquer ajuda, só procurarem ele na floresta da Nachtur.
                </p>
            </div>
        </div>
        <div class="card col-md-3">
            <img class="card-img-top" src="../../../../assets/imgs/npcs/balasar.jpg" alt="Card image cap">
            <div class="card-body">
                <h3>Balasar</h3>
                <p class="card-text">
                    Representante da casa dos ursos do Vale Pedra Quebrada.
                </p>
            </div>
        </div>
        <div class="card col-md-3">
            <img class="card-img-top" src="../../../../assets/imgs/npcs/Groomash.png" alt="Card image cap">
            <div class="card-body">
                <h3>Groomash</h3>
                <p class="card-text">
                    Representante da casa dos lobos do vale Pedra Quebrada, também o responsável pelas invasões semanais à Corte do Crepúsculo.
                </p>
            </div>
        </div>
        <div class="card col-md-3">
            <img class="card-img-top" src="../../../../assets/imgs/npcs/racaAmaldicoada.png" alt="Card image cap">
            <div class="card-body">
                <h3>Sem Nome</h3>
                <p class="card-text">
                    Não sabem o nome dela. Uma escrava pertencente à raça amaldiçoada, suspeita-se que é nativa do plano elemental do fogo e possui poderes naturais de cura.
                </p>
            </div>
        </div>
    </ng-container>
    
</div>