<div class="bloco">
    <h1>Corrupted Dominion</h1>
    <p>Um grupo de aventureiros acaba de se inscrever na guilda, mas durante sua primeira missão eles acabam encontrando
        o resquício do sentido divino de um Deus derrotado. Por quê aquele Deus estava ali? O que aconteceu com ele? 
        O que será que os jogadores receberam como a benção divina dele?
        Link para o Roll20:
    </p>
    <div class="media position-relative anuncio">
        <img height="200px" src="../../assets/imgs/roll20.png" class="mr-3 anuncio-img" alt="...">
        <div class="media-body">
          <h5 class="mt-0">Roll20</h5>
          <p>Roll20 Corrupted Dominion.
          </p>
          <a href="#" class="stretched-link"></a>
        </div>
    </div>
</div>
