<div class="row d-flex justify-content-center">
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Albert.png" alt="Card image cap">
        <div class="card-body">
            <h3>Albert</h3>
            <p class="card-text">Atendente do pavilhão da forja mágica, ajuda o demonio da forja com o que pode, mas não
                é ferreiro</p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/GerenteSophia.png" alt="Card image cap">
        <div class="card-body">
            <h3>Sophia</h3>
            <p class="card-text">Gerente da guilda dos aventureiros, ela que entrega as recompensas e é com ela que se
                deve falar se quiser subir de rank</p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Henrich.png" alt="Card image cap">
        <div class="card-body">
            <h3>Henrich Cithin</h3>
            <p class="card-text">
                Filho do Rei, o Henrich, conhecido entre os aventureiros como o "aventureiro de ferro", resolveu que
                queria virar aventureiro, com a autoridade e capital do seu pai, comprou o titulo de aventureiro de
                prata.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Haley.png" alt="Card image cap">
        <div class="card-body">
            <h3>Haley</h3>
            <p class="card-text">
                Filha do chefe da vila Adirie. Depois de ver o grupo em ação, resolveu virar uma aventureira, unido-se
                ao grupo do Elliot.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Elliot.png" alt="Card image cap">
        <div class="card-body">
            <h3>Elliot</h3>
            <p class="card-text">
                Elliot é um garoto de 15 anos aspirante a aventureiro. Depois de ver seu grupo sendo exterminado por
                goblins, recobrou sua motivação quando escutou o discurso motivacional de Sid e agora aspira é um
                clérigo aventureiro.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/MaxineDaEspadaSagrada.png" alt="Card image cap">
        <div class="card-body">
            <h3>Maxine</h3>
            <p class="card-text">
                Conhecido como "Maxine da Espada Sagrada", um aventureiro de ouro que promete que um dia seu nome estará
                ao lado do Púpura do Oeste e Passos Divinos na placa de aventureiros de Adamantium.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/Maciota.png" alt="Card image cap">
        <div class="card-body">
            <h3>Maciota</h3>
            <p class="card-text">
                Cafetão, traficante e, acima de tudo, informante. Maciota é o dono do "Paraíso do Maciota", na cidade de
                Arcsall, e alega vender qualquer tipo de informação pelo preço certo.
            </p>
        </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="../../../../assets/imgs/npcs/PrincesaElfa.png" alt="Card image cap">
        <div class="card-body">
            <h3>Liifa</h3>
            <p class="card-text">
                Uma elfa que foi encontrada presa dentro de um cativeiro em um lugar desconhecido. Ainda não se sabe muito sobre quem ela é ou porquê ela estava lá.
            </p>
        </div>
    </div>
</div>